.food-menu__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
        line-height: 1.5;
    }
    .food-menu__item {
        border: 1px solid #e1e1e1;
        margin: 0 10px 40px;
        width: calc(33% - 20px);
        transition: transform .2s ease-in;
        &:hover {
            transform: translateY(10px);
            box-shadow: -3px 3px 10px -1px rgba(171, 161, 171, 1);
        }
        .food-menu__img {
            img {
                max-width: 100%;
            }
        }
        .food-menu__title {
            padding: 20px 60px;
        }
        .food-menu__more {
            color: $color-red;
            align-self: end;
        }
    }
}