.food-menu__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    .hover-content {
        margin: 15px 0;
        overflow: hidden;
        position: relative;
        width: calc(33% - 30px);
        animation: 0.2s ease;
        &:hover {
            img {
                transition: all 0.5s ease 0s;
                transform: rotate(5deg) scale(1.3);
                a {
                    transition: all 0.5s ease 0s;
                }
            }
            .overlay {
                transform: rgba(0, 0, 0, 0.6);
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            color: #fff;
            opacity: 1;
        }
    }
}

.food-menu__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
        line-height: 1.5;
        ;
    }
    .food-menu__item {
        border: 1px solid #e1e1e1;
        margin: 0 10px 40px;
        width: calc(33% - 20px);
        transition: transform .2s ease-in;
        &:hover {
            transform: translateY(10px);
            box-shadow: -3px 3px 10px -1px rgba(171,161,171,1);
        }
        .food-menu__img {
            img {
                max-width: 100%;
            }
        }
        .food-menu__text {
            padding: 20px 60px;
        }
        .food-menu__more {
            color: $color-red;
            align-self: end;
        }
    }
}