.header {
    // background: #d3221c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    grid-column: 1/ span 12;
    transition: all .2s;
}

.header-toggle {
    height: 40px;
    background-color: $color-red;
}

.logo {
    padding: 5px 20px;
    img {
        width: 140px;
    }
}

.main-menu ul {
    display: flex;
    list-style: none;
    li {
        text-transform: uppercase;
        margin-right: 30px;
        a {
            text-decoration: none;
            color: #ffffff;
            letter-spacing: 1px;
            font-size: 18px;
            &:hover {
                color: $color-orange;
            }
        }
    }
}

.search-area {
    background-image: url(../images/hero-img-borsch-2-dark.jpg);
    height: 100vh;
}

h2 {
    margin-bottom: 50px;
    color: #FFFFFF;
    font-size: 5rem;
    text-transform: uppercase;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    grid-column: 1/ span 12;
    display: flex;
    align-items: center;
    h2.parallax-title {
        background-color: rgba($color-orange, .8);
        padding: 30px 0;
        border-radius: 30px;
        font-weight: 300;
        letter-spacing: 3px;
    }
}