.welcome {
    display: flex;
    align-items: center;
    grid-column: 3/ span 8;
    height: auto;
    border: 1px solid $color-red;
    &__text {
        padding: 20px 60px;
        margin-right: 30px;
        p {
            line-height: 1.5;
        }
    }
}

h1.text-light {
    font-family: "OpenSans-Light", Arial, sans-serif;
    color: $color-red;
    font-size: 36px;
    font-weight: 300;
}