header.header#header
    .logo
        img(src="images/logo-sytahata.svg")
    nav#nav.main-menu
        ul.nav
            li.active
                a(href='index.html') Головна
            li
                a(href='menu.html') Меню
            li
                a(href='hotel.html') Готель
            li
                a(href='guide.html') Путівник
            li
                a(href='bath.html') Баня
            li
                a(href='service.html') Послуги
            li
                a(href='guests.html') Наші гості
            li
                a(href='contacts.html') Контакти
// Parallax Section Starts
section.search-area.parallax
    // Nested Container Starts
    .container.text-center
        h2.text-normal Ласкаво просимо до господи
        // Nested Container Ends
// Parallax Section Ends
