// Welcome Section Starts
section.welcome.section
    .welcome__text.text-center
        h1.text-light Ласкаво просимо
            br
            | до корчми
            br
            | Сита Хата!
        p Корчма "Сита Хата" - справжній заміський комплекс, який включає в себе все що необхідно для сімейного свята, дня народження, ювілею, весілля, корпоративної вечірки, ділової зустрічі або просто для відпочинку та відновлення своїх сил та душевної рівноваги.
        p
        a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
    .welcome__img
        img(src="images/welcome-section-img.jpg" alt="").img-responsive.img-center.welcome-img

//- <!-- Welcome Section Ends -->
//- // Food Menu Grid Starts
//- .food-menu__grid.text-center
//-     .hover-content.aos-init.aos-animate(data-aos="zoom-in" data-aos-anchor-placement="center-bottom")
//-         a(href="menu-pages/lunch.html")
//-         img(src="img/menu/thumb/menu-grid-thumb-1.jpg" alt="").img-responsive.animation/
//-         .overlay.animation
//-             h4.text-uppercase Бізнес-ланч

//-     .hover-content.aos-init.aos-animate(data-aos="zoom-in" data-aos-anchor-placement="center-bottom")
//-         a(href="menu-pages/specialty.html")
//-         img(src="images/menu/thumb/menu-grid-thumb-2.jpg" alt="").img-responsive.animation/
//-         .overlay.animation
//-             h4.text-uppercase Фірмові страви

//-     .hover-content.aos-init.aos-animate(data-aos="zoom-in" data-aos-anchor-placement="center-bottom")
//-         a(href="menu-pages/banquet.html")
//-         img(src="images/menu/thumb/menu-grid-thumb-3.jpg" alt="").img-responsive.animation/
//-         .overlay.animation
//-             h4.text-uppercase Банкетні родзинки

//-     .hover-content.aos-init.aos-animate(data-aos="zoom-in" data-aos-anchor-placement="center-bottom")
//-         a(href="menu-pages/soup.html")
//-         img(src="images/menu/thumb/menu-grid-thumb-4.jpg" alt="").img-responsive.animation/
//-         .overlay.animation
//-             h4.text-uppercase Перші страви

//-     .hover-content.aos-init.aos-animate(data-aos="zoom-in" data-aos-anchor-placement="center-bottom")
//-         a(href="menu-pages/dessert.html")
//-         img(src="images/menu/thumb/menu-grid-thumb-5.jpg" alt="").img-responsive.animation/
//-         .overlay.animation
//-             h4.text-uppercase Кондвироби та десерти

//-     .hover-content.aos-init.aos-animate(data-aos="zoom-in" data-aos-anchor-placement="center-bottom")
//-         a(href="#")
//-         img(src="images/menu/thumb/menu-grid-thumb-6.jpg" alt="").img-responsive.animation/
//-         .overlay.animation
//-             h4.text-uppercase