mixin food-menu(src, alt, title, link)
    a.grid__item(href="#")
        .grid__item-bg
        .grid__item-wrap
            img(src= src alt= alt).grid__item-img/
        h3.grid__item-title= title
            //- a(href= link).btn.btn-secondary.text-bold.text-uppercase.animation.food-menu__more Докладніше
mixin food-menu__content(src, alt, title, subtitle, p1, p2, p3)
    .content
        .content__item
            .content__item-intro
                img.content__item-img(src= src alt= alt)
                h2.content__item-title= title
            h3.content__item-subtitle= subtitle
            .content__item-text
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, laudantium.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, laudantium.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, laudantium.